{% extends 'crm/base.html' %}

{% block title %}Set a password{% endblock %}


{% block content %}
    <div style="text-align: center; margin-top: 100px;">
        <h2>Set New Password</h2>
        <form action="/reset-password/<token>" method="post">
            <label for="password">New Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <label for="confirm-password">Confirm Password:</label><br>
            <input type="password" id="confirm-password" name="confirm-password" required><br><br>
            <input type="submit" value="Reset Password">
        </form>
    </div>
{% endblock %}
