<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST" action="/register">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="password">Password (confirm):</label>
        <input type="password" id="password2" name="password2" required><br><br>

        <!-- Additional fields for PersonContact -->
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone"><br><br>
        <label for="street">Street Address:</label>
        <input type="text" id="street" name="street"><br><br>
        <label for="city">City:</label>
        <select id="city" name="city">
            {% for municipality in municipalities %}
            <option value="{{ municipality }}">{{ municipality }}</option>
            {% endfor %}
        </select>
        </br>
        </br>
        <label for="state">State:</label>
        <input type="text" id="state" name="state"><br><br>
        <label for="zip_code">Zip Code:</label>
        <input type="text" id="zip_code" name="zip_code"><br><br>

        <h3>Emergency Contact Info</h3>
        <!-- Additional fields for PersonEmergencyContact -->
        <label for="emergency_email">Emergency Contact Email:</label>
        <input type="text" id="emergency_email" name="emergency_email"><br><br>
        <label for="emergency_phone">Emergency Contact Phone:</label>
        <input type="text" id="emergency_phone" name="emergency_phone"><br><br>
        <label for="emergency_first_name">Emergency Contact First Name:</label>
        <input type="text" id="emergency_first_name" name="emergency_first_name"><br><br>
        <label for="emergency_last_name">Emergency Contact Last Name:</label>
        <input type="text" id="emergency_last_name" name="emergency_last_name"><br><br>

        <button type="submit">Register</button>
    </form>
    <a href="/login">Login</a>
</body>
</html>